.movie-card {
  width: 300px;
  margin-bottom: 20px;
  box-shadow: 0px 8px 40px rgba(7, 7, 7, 0.08);
  border-radius: 10px;
  margin-right: 20px;
}

.link-item {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.movie-img {
  border-radius: 10px;
}

.name {
  color: #000000;
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 10px;
}

.rating {
  color: #000000;
  font-family: 'Roboto';
  font-size: 17px;
  font-weight: 600;
  margin-top: 10px;
}
